menu "Example Configuration"

    config EXAMPLE_WIFI_SSID
        string "WiFi SSID"
        default "your-ssid"
        help
            SSID of the WiFi network to connect to.

    config EXAMPLE_WIFI_PASSWORD
        string "WiFi Password"
        default "your-password"
        help
            Password of the WiFi network.

endmenu
